.product-sale-label {
  position: absolute;
  top: 17px;
  right: 17px;
  box-sizing: border-box;
  padding: 8px 21px;
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 14px;
  font-family: AvenirNext-Bold;
}

.detail-sale-label {
  box-sizing: border-box;
  padding: 8px 21px;
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 14px;
  font-family: AvenirNext-Bold;
}
