.detail-pictures { top: 0px; }

.detail-large {
  height: 525px;
  margin-left: 47px;
  margin-top: 20px;
}

.detail-miniature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -6px;
  padding-right: 23px;
}

.detail-stripes { margin: 0 22px; }

.detail-stripes > hr {
  margin: 3px;
  width: 159px;
  height: 3px;
  border-radius: 1.5px;
  border: none;
  background-color: #e7e7e7;
}

.detail-more-pictures {
  width: 46px;
  height: 54px;
  font-family: AndaleMono;
  font-size: 14px;
  color: #c0c0c0;
}

.detail-miniature {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
