@font-face {
  font-family: AvenirNext-Bold;
  src: url(./fonts/AvenirNext-Bold.ttf);
}

@font-face {
  font-family: AvenirNext-Medium;
  src: url(./fonts/AvenirNext-Medium.ttf);
}

@font-face {
  font-family: AndaleMono;
  src: url(./fonts/AndaleMono.ttf);
}

body { margin: 0; }

.wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}
.cards-wrapper {
  padding: 22px 24px 0 25px;
  background-color: #ffffff;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 24px;
  padding: 9px;
  width: 311px;
  height: 311px;
  background-color: #f4f4f4;
}

.icon {
  display: block;
  margin: 0 auto;
  height: 197px;
  width: 294px;
}

.product-price {
  display: block;
  margin: 0 auto;
  padding-top: 27px;
  box-sizing: border-box;
  width: 291.6px;
  height: 91px;
  background: #ffffff;
  font-family: AvenirNext-Bold;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
  text-decoration: none;
  transition-property: background;
  transition-duration: 200ms;
}

.product-price:hover { background: #d2d0d0; }

.product-sale
.product-price {
  background-image: linear-gradient(107deg, #0c09bf, #966dd8);
  color: #ffffff;
}

.product-sale
.product-price:hover {
  background-image: linear-gradient(107deg, #966dd8, #0c09bf);
}
.filter {
  display: flex;
  padding: 11px 0px 12px 25px;
  font-family: AvenirNext-Bold;
  border-bottom: #e7e7e7 3px solid;
}

.filter-icon {
  margin-right: 29px;
  width: 55px;
  height: 55px;
  background-color: #ebebeb;
  background-image: url(./images/filter-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-gender-select,
.filter-size-select {
  display: flex;
  justify-content: space-between;
}

.filter-gender-select { width: 180px; }

.filter-size-select {
  width: 323px;
  margin-left: 51px;
}

.filter-size-label {  margin-right: 13px; }

.filter-gender,
.filter-size {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  color: #d6d6d6;
  font-size: 24px;
  font-family: inherit;
}

.filter-active { color: #4d42f8; }

.filter-hover:hover { color: #090098; }

.filter-hover {
  transition-property: color;
  transition-duration: 200ms;
}
.filter-gender-select {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.detail-buy-now {
  position: fixed;
  bottom: 0px;
  margin-left: -32px;
  padding: 35px 433px;
  border: none;
  outline: none;
  background-image: linear-gradient(to right, #4949aa, #27275d);
  font-family: AvenirNext-Bold;
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
}

.detail-buy-now:hover {
  background-image: linear-gradient(to right, #27275d, #4949aa);
}
.detail-price-block {
  position: absolute;
  right: 33px;
  top: 39px;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 217px;
}
.detail-price-header {
  margin: 21px -6px;
  font-family: AvenirNext-Bold;
  font-size: 80px;
  font-weight: bold;
  text-align: right;
  color: #e2e2e2;
}
.color-select {
  display: flex;
  justify-content: space-between;
  width: 111px;
}

.color-select button {
  height: 18px;
  width: 18px;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.color-select button:hover { border: #ff5c5c 1px solid; }

.color-select-1 { background-color: #c5c5c5; }
.color-select-2 { background-color: #4d87ca; }
.color-select-3 { background-color: #4a4a4a; }
.color-select-4 { background-color: #e0e0e0; }

.detail-hl-block {
  position: absolute;
  top: 30px;
  left: 32px;
}
.detail-model-name {
  margin: 0;
  font-family: AvenirNext-Bold;
  font-size: 64px;
  line-height: 1.0;
  color: #3a3a3a;
}
.detail-svbtn {
  margin-top: 14px;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #e3e3e3;
  font-family: AvenirNext-Bold;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 200ms;
}
.detail-svbtn:hover { background-color: #ffc2c2; }
.detail-product-description {
  margin: 20px 0 129px 3px;
  width: 927px;
  height: 150px;
  font-family: AvenirNext-Medium;
  font-size: 33px;
  font-weight: 500;
  line-height: 1.52;
  text-align: left;
  color: #d8d8d8;
}

.detail-product-description >
.detail-product-description-highlight { color: #6e6e6e; }

.detail {
  position: relative;
  padding: 35px 32px 0 32px;
  height: 1618px;
  width: 1025px;
  box-sizing: border-box;
}
.detail-pictures { top: 0px; }

.detail-large {
  height: 525px;
  margin-left: 47px;
  margin-top: 20px;
}

.detail-miniature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -6px;
  padding-right: 23px;
}

.detail-stripes { margin: 0 22px; }

.detail-stripes > hr {
  margin: 3px;
  width: 159px;
  height: 3px;
  border-radius: 1.5px;
  border: none;
  background-color: #e7e7e7;
}

.detail-more-pictures {
  width: 46px;
  height: 54px;
  font-family: AndaleMono;
  font-size: 14px;
  color: #c0c0c0;
}

.detail-miniature {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
.product-sale-label {
  position: absolute;
  top: 17px;
  right: 17px;
  box-sizing: border-box;
  padding: 8px 21px;
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 14px;
  font-family: AvenirNext-Bold;
}

.detail-sale-label {
  box-sizing: border-box;
  padding: 8px 21px;
  width: 76px;
  height: 32px;
  background-color: #ff5c5c;
  color: #fff;
  font-size: 14px;
  font-family: AvenirNext-Bold;
}
