.submenu {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.submenu-item {
  font-size: 24px;
  color: #303030;
  text-decoration: none;
  padding-bottom: 26px;
  font-family: AndaleMono;
  color: #3c3c3c;
}
.submenu-active {
  color: #ffffff;
}
.menu-hover {
  transition-property: color;
  transition-duration: 200ms;
}
.menu-hover:hover {
  color: #797979;
}
.menu-active-icon {
  margin-bottom: 4px;
}
