
.filter-gender-select {
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.filter-gender {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  color: #d6d6d6;
  font-size: 24px;
  font-family: inherit;
}

.filter-active { color: #4d42f8; }

.filter-hover:hover { color: #090098; }

.filter-hover {
  transition-property: color;
  transition-duration: 200ms;
}
